.wrapper-2qzCYF{
    background-color: var(--background-primary) !important;
    .callContainer-36WRfH{
        background-color: #2D325A !important;
        border-radius: var(--primary-rounding);
        margin: var(--primary-spacing);
        margin-bottom: 0 !important;
        .controlButton-2MhVEL{
            svg{
                foreignObject{
                    mask: none;
                    .colorable-1bkp8v.primaryDark-3mSFDl{
                        background-color: var(--background-primary);
                        border-radius: var(--primary-rounding);
                    }
                }
            }
        }
        .centerButton-3CaNcJ{
            background-color: var(--background-primary);
            border-radius: var(--primary-rounding);
        }
        .contextMenuNub-3yOOYo{
            background-color: var(--background-tertiary);
            border-radius: var(--primary-rounding);
            bottom: -10px;
            right: -10px;
        }
        .wrapper-2QE8vf{
            svg{
                foreignObject{
                    mask: none;
                    img{
                        border-radius: var(--primary-rounding);
                    }
                }
            }
        }
        .border-Jn5IOt{
            border-radius: var(--primary-rounding);
        }
        .status-1WEaea{
            border-radius: var(--primary-rounding);
            bottom: -10px;
            right: -10px;
        }
    }
}