.membersWrap-2h-GB4,
.container-2wlB3z{
    background: var(--background-secondary-alt);
    border-radius: var(--primary-rounding);
    margin-left: var(--primary-spacing);
    .members-1998pB, .members-1998pB>div{
        background-color: transparent;
    }
    ::-webkit-scrollbar{
        display: none;
    }
}
