.cozyMessage-3V1Y8y .contents-2mQqc9 > .markup-2BOw-j:not(:empty) {
    background-color: var(--background-primary);
    display: inline-block;
    max-width: 650px;
    margin: 0;
    padding: 5px 10px ;
    border-radius: var(--primary-rounding);
    position: relative;
    overflow: visible;
    .mention{
        border-radius: var(--primary-rounding);
        background-color: var(--background-tertiary);
    }
}
.message-2qnXI6{
    border-radius: var(--primary-rounding);
    transition: 150ms ease;
    margin: 0 var(--primary-spacing);
    margin-top: .5rem !important;
    padding: 5px 5px 5px 4.5rem;
    margin-right: 0 !important;
    &:hover{
        background-color: var(--background-secondary);
    }
}
.mentioned-xhSam7{
    border-radius: var(--primary-rounding);
    &::before{
        width: 5px;
        margin: var(--primary-spacing);
        border-radius: var(--primary-rounding);
        left: unset;
        right: 0;
    }
}