// ╔════════════════════════════════════════════════════════════════════════════════════════════════════════════════════╗
// ║ Theme Settings                                                                                                     ║
// ╠══════════════════════════╦═════════════════════════════════════════════════════════════════════════════════════════╣
// ║ Theme:                   ║ Nebula                                                                                  ║
// ║ version:                 ║ 2.0.0                                                                                   ║
// ║ author:                  ║ Loremly#9359                                                                            ║
// ╠══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╣
// ║                                                                                                                    ║
// ║ Round, Deep sea blue, consistent, Nebula! Customize to your hearts Extent!                                         ║
// ║                                                                                                                    ║
// ║ A large amount of Nebula is inspired from CorellanStoma's CreArts Discord theme. Check It out!                     ║
// ║ ● https://github.com/CorellanStoma/CreArts-Discord                                                                 ║
// ║                                                                                                                    ║
// ║ More information about Powercord can be found here:                                                                ║
// ║ ● https://powercord.dev/                                                                                           ║
// ║                                                                                                                    ║
// ║ If you need more support join the Powercord Community:                                                             ║
// ║ ● https://discord.gg/2dp4n5qdNm                                                                                    ║
// ║                                                                                                                    ║
// ╚════════════════════════════════════════════════════════════════════════════════════════════════════════════════════╝

// ╔════════════════════════════════════════════════════════════════════════════════════════════════════════════════════╗
// ║ Credits                                                                                                            ║
// ╚════════════════════════════════════════════════════════════════════════════════════════════════════════════════════╝

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════════════════╗
// ║ Addons                   ║ To disable certain things, you can comment out the lines. Use "// " in front.           ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝
@use "addons/discolored";


// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════════════════╗
// ║ Imports                  ║ Importing the main file for theme functionality, DONT CHANGE IT! Unless you hate urself ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

@use 'src/theme';