@import "https://nyri4.github.io/Discolored/main.css";
.app-1q1i1E {
  background-color: var(--background-primary);
  border-radius: var(--primary-rounding);
  margin: var(--primary-spacing);
}
.app-1q1i1E .app-2rEoOp {
  background-color: transparent;
}
.app-1q1i1E .app-2rEoOp .base-3dtUhz {
  background-color: var(--background-primary);
  border-radius: var(--primary-rounding);
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
.app-1q1i1E .app-2rEoOp .layers-3q14ss {
  border-radius: var(--primary-rounding);
}

.lookFilled-1Gx00P,
.lookOutlined-3sRXeN {
  border-radius: var(--primary-rounding) !important;
}

.lookFilled-1Gx00P.colorGrey-2DXtkV,
.lookFilled-1Gx00P.colorBrand-3pXr91 {
  background-color: var(--btn-bg-primary) !important;
}
.lookFilled-1Gx00P.colorGrey-2DXtkV:hover,
.lookFilled-1Gx00P.colorBrand-3pXr91:hover {
  background-color: var(--btn-bg-secondary-hover) !important;
}

.input-cIJ7To {
  border-radius: var(--primary-rounding) !important;
  border-color: var(--background-secondary-alt);
}
.input-cIJ7To:hover:not(:focus-within) {
  border-color: var(--background-tertiary);
}
.input-cIJ7To:focus-within {
  border-color: var(--background-primary);
}

.radioIconForeground-XwlXQN {
  color: var(--interactive-active);
}

.bar-2Qqk5Z {
  background-color: var(--background-tertiary) !important;
}
.bar-2Qqk5Z .barFill-23-gu- {
  background-color: var(--background-primary);
}

.channelNotice-1-XFjC {
  display: none;
}

.notice-3bPHh- {
  border-radius: var(--primary-rounding);
  margin: var(--primary-spacing);
  margin-top: 0 !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.container-1d-xkt {
  top: calc(var(--tertiary-spacing) + 12px);
  border-radius: var(--primary-rounding);
  margin-bottom: var(--primary-spacing);
  padding-top: 20px !important;
}

.powercord-toast {
  background-color: var(--background-secondary) !important;
  border-radius: var(--primary-rounding);
}
.powercord-toast .header {
  background-color: var(--background-secondary-alt) !important;
  border-radius: var(--primary-rounding) !important;
  margin: var(--primary-spacing);
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}
.powercord-toast .contents {
  background-color: var(--background-secondary) !important;
  border-radius: var(--primary-rounding) !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  padding-bottom: 5px !important;
}
.powercord-toast .contents .inner {
  background-color: var(--background-primary) !important;
  border-radius: var(--primary-rounding) !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: none !important;
}
.powercord-toast .buttons button {
  background-color: var(--background-primary) !important;
  color: var(--text-normal);
  border: none;
}
.powercord-toast .buttons button:hover {
  background-color: var(--background-secondary);
}

.bar-30k2ka {
  background-color: var(--background-secondary);
  border-radius: var(--primary-rounding);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: 1;
}

#app-mount .scrollerBase-289Jih.disableScrollAnchor-3V9UtP::-webkit-scrollbar-thumb, #app-mount .scrollerBase-289Jih.auto-Ge5KZx::-webkit-scrollbar-thumb {
  background-color: var(--background-secondary);
  border-radius: var(--tertiary-rounding);
}
#app-mount .scrollerBase-289Jih.disableScrollAnchor-3V9UtP::-webkit-scrollbar-track, #app-mount .scrollerBase-289Jih.auto-Ge5KZx::-webkit-scrollbar-track {
  background-color: transparent;
}

.standardSidebarView-3F1I7i {
  background-color: var(--background-primary);
  border-radius: var(--primary-rounding);
}
.standardSidebarView-3F1I7i .contentRegion-3nDuYy {
  background: var(--background-secondary-alt);
  border-radius: var(--primary-rounding);
  margin: var(--primary-spacing);
  margin-left: 0 !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.standardSidebarView-3F1I7i .contentRegion-3nDuYy .contentRegionScroller-26nc1e {
  background-color: transparent;
}
.standardSidebarView-3F1I7i .contentRegion-3nDuYy .contentRegionScroller-26nc1e .contentColumnDefault-1VQkGM {
  min-width: calc(100% - 45px);
  padding: 60px 20px 20px;
}

.sidebarRegion-VFTUkN {
  background-color: var(--background-secondary-alt);
  border-radius: var(--primary-rounding);
  margin: var(--primary-spacing);
  width: var(--sidebar-width);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}
.sidebarRegion-VFTUkN .sidebarRegionScroller-3MXcoP {
  background: transparent;
  width: 100%;
}
.sidebarRegion-VFTUkN .sidebarRegionScroller-3MXcoP .sidebar-CFHs9e {
  padding: 0 var(--primary-spacing);
  padding-top: 30px !important;
  width: 100%;
}
.sidebarRegion-VFTUkN .sidebarRegionScroller-3MXcoP .sidebar-CFHs9e .info-1VyQPT {
  text-transform: none;
}
.sidebarRegion-VFTUkN .sidebarRegionScroller-3MXcoP .sidebar-CFHs9e .info-1VyQPT .size12-3cLvbJ {
  text-transform: capitalize;
}
.sidebarRegion-VFTUkN .sidebarRegionScroller-3MXcoP .sidebar-CFHs9e .info-1VyQPT:last-child::after {
  content: var(--theme) " " "(" var(--version) ")";
  color: var(--text-muted);
  display: inline-block;
  line-height: 16px;
  font-size: 12px;
  width: 100%;
}
.sidebarRegion-VFTUkN .sidebarRegionScroller-3MXcoP::-webkit-scrollbar {
  display: none;
}

@-webkit-keyframes settingsflash {
  0% {
    -webkit-box-shadow: 0 2px 10px rgba(45, 50, 90, 0.2), 0 0 0 2px rgba(45, 50, 90, 0.3);
            box-shadow: 0 2px 10px rgba(45, 50, 90, 0.2), 0 0 0 2px rgba(45, 50, 90, 0.3);
  }
  70% {
    -webkit-box-shadow: 0 0 20px 15px rgba(45, 50, 90, 0.1), 0 0 0 6px rgba(45, 50, 90, 0.2);
            box-shadow: 0 0 20px 15px rgba(45, 50, 90, 0.1), 0 0 0 6px rgba(45, 50, 90, 0.2);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 15px rgba(45, 50, 90, 0), 0 0 0 6px rgba(45, 50, 90, 0.1);
            box-shadow: 0 0 20px 15px rgba(45, 50, 90, 0), 0 0 0 6px rgba(45, 50, 90, 0.1);
  }
}

@keyframes settingsflash {
  0% {
    -webkit-box-shadow: 0 2px 10px rgba(45, 50, 90, 0.2), 0 0 0 2px rgba(45, 50, 90, 0.3);
            box-shadow: 0 2px 10px rgba(45, 50, 90, 0.2), 0 0 0 2px rgba(45, 50, 90, 0.3);
  }
  70% {
    -webkit-box-shadow: 0 0 20px 15px rgba(45, 50, 90, 0.1), 0 0 0 6px rgba(45, 50, 90, 0.2);
            box-shadow: 0 0 20px 15px rgba(45, 50, 90, 0.1), 0 0 0 6px rgba(45, 50, 90, 0.2);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 15px rgba(45, 50, 90, 0), 0 0 0 6px rgba(45, 50, 90, 0.1);
            box-shadow: 0 0 20px 15px rgba(45, 50, 90, 0), 0 0 0 6px rgba(45, 50, 90, 0.1);
  }
}
.theme-light .layer-3QrUeG:first-of-type::before {
  content: "Nebula does not yet support light mode. Please go back to dark mode. To enable it, go into Settings -> Appearance";
  position: fixed;
  text-align: center;
  width: 400px;
  height: 30px;
  top: 50%;
  left: 50%;
  background: var(--background-primary);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #FFFFFF;
  padding: 17px 16px 20px 13.5px;
  -webkit-box-shadow: 0 2px 10px var(--background-secondary-alt);
          box-shadow: 0 2px 10px var(--background-secondary-alt);
  border: 2.5px solid var(--background-secondary-alt);
  border-radius: 4px;
  z-index: 2;
}
.theme-light .app-2rEoOp .layer-3QrUeG:first-of-type {
  background-color: var(--background-tertiary) !important;
}
.theme-light .app-2rEoOp .layer-3QrUeG:first-of-type * {
  visibility: hidden !important;
}
.theme-light .app-2rEoOp .layer-3QrUeG:first-of-type *::before {
  visibility: hidden !important;
}
.theme-light .app-2rEoOp .layer-3QrUeG:first-of-type *::after {
  visibility: hidden !important;
}
.theme-light .app-2rEoOp .container-3baos1 > .noWrap-3jynv6 > .button-14-BFJ:nth-child(3) {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-top: 70px;
  width: 220px;
  height: 40px;
  visibility: visible !important;
  background: var(--background-secondary-alt) !important;
  border-radius: 4px;
  -webkit-animation: settingsflash 1s ease infinite;
          animation: settingsflash 1s ease infinite;
  opacity: 1;
}
.theme-light .app-2rEoOp .container-3baos1 > .noWrap-3jynv6 > .button-14-BFJ:nth-child(3)::before {
  position: absolute;
  content: "GO TO SETTINGS";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 230px;
  height: 14px;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  visibility: visible !important;
  font-size: 17px;
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
}
.theme-light .preview-2nSL_2.cardPrimaryOutline-29Ujqw + .marginTop40-i-78cZ .radioGroup-1GBvlr .cardPrimaryEditable-3KtE4g:first-of-type {
  -webkit-animation: settingsflash 1s ease infinite;
          animation: settingsflash 1s ease infinite;
  background: #F04747;
  border-color: #F04747;
  animation: settingsflash 1s ease infinite;
  background: #F04747;
  border-color: #F04747;
  color: #FFFFFF;
}
.theme-light .preview-2nSL_2.cardPrimaryOutline-29Ujqw + .marginTop40-i-78cZ .radioGroup-1GBvlr .item-26Dhrx:first-of-type {
  -webkit-animation: settingsflash 1s ease infinite;
          animation: settingsflash 1s ease infinite;
  background: #F04747;
  border-color: #F04747;
  animation: settingsflash 1s ease infinite;
  background: #F04747;
  border-color: #F04747;
  color: #FFFFFF;
}
.theme-light [aria-controls=Appearance-tab] {
  border: 2px solid #F04747;
  -webkit-animation: settingsflash 1s ease infinite;
          animation: settingsflash 1s ease infinite;
}
> div[tabindex="-1"] .theme-light .children-rWhLdy > .marginTop40-i-78cZ:nth-child(2) > div:not(:nth-child(3)) {
  border: 2px solid #F04747;
  -webkit-animation: settingsflash 1s ease infinite;
          animation: settingsflash 1s ease infinite;
}

.withFrame-haYltI {
  background-color: var(--background-primary);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  margin: 0;
  top: 0;
}

.winButton-iRh8-Z {
  background-color: var(--background-primary);
  -webkit-transition: var(--transition-normal);
  transition: var(--transition-normal);
  height: 30px;
  width: 42px;
  top: 0;
}
.winButton-iRh8-Z:nth-child(3):hover, .winButton-iRh8-Z:nth-child(4):hover {
  background-color: var(--background-secondary-alt);
}

.wordmarkWindows-1v0lYD {
  display: none;
}

.attachedBars-tZDmyV {
  background: var(--background-tertiary);
  margin-bottom: var(--primary-spacing);
  border-radius: var(--primary-rounding);
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}
.attachedBars-tZDmyV .clipContainer-eeROt0 {
  padding: 0;
  margin: 0;
}
.attachedBars-tZDmyV .clipContainer-eeROt0 .replyBar-1YLQ2F {
  background: var(--background-tertiary);
  border-radius: var(--primary-rounding);
}
.attachedBars-tZDmyV .clipContainer-eeROt0 .replyBar-1YLQ2F .name-hpTFiv {
  text-transform: capitalize;
}

.jumpToPresentBar-G1R9s6 {
  background-color: var(--background-tertiary);
  border-radius: var(--primary-rounding);
  bottom: var(--secondary-spacing);
  left: var(--primary-spacing);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 3px;
  opacity: 1;
}

.newMessagesBar-265mhP {
  background-color: var(--background-tertiary);
  border-radius: var(--primary-rounding);
  right: var(--primary-spacing);
  left: var(--primary-spacing);
  top: var(--primary-spacing);
  padding: 3px;
  opacity: 1;
}

.base-gE7OpD {
  background-color: var(--background-tertiary);
  border-radius: var(--primary-rounding);
  margin: var(--primary-spacing);
  margin-left: 0 !important;
  position: relative;
  padding: 3px;
  left: 0;
}

.wrapper-2qzCYF {
  background-color: var(--background-primary) !important;
}
.wrapper-2qzCYF .callContainer-36WRfH {
  background-color: #2D325A !important;
  border-radius: var(--primary-rounding);
  margin: var(--primary-spacing);
  margin-bottom: 0 !important;
}
.wrapper-2qzCYF .callContainer-36WRfH .controlButton-2MhVEL svg foreignObject {
  -webkit-mask: none;
          mask: none;
}
.wrapper-2qzCYF .callContainer-36WRfH .controlButton-2MhVEL svg foreignObject .colorable-1bkp8v.primaryDark-3mSFDl {
  background-color: var(--background-primary);
  border-radius: var(--primary-rounding);
}
.wrapper-2qzCYF .callContainer-36WRfH .centerButton-3CaNcJ {
  background-color: var(--background-primary);
  border-radius: var(--primary-rounding);
}
.wrapper-2qzCYF .callContainer-36WRfH .contextMenuNub-3yOOYo {
  background-color: var(--background-tertiary);
  border-radius: var(--primary-rounding);
  bottom: -10px;
  right: -10px;
}
.wrapper-2qzCYF .callContainer-36WRfH .wrapper-2QE8vf svg foreignObject {
  -webkit-mask: none;
          mask: none;
}
.wrapper-2qzCYF .callContainer-36WRfH .wrapper-2QE8vf svg foreignObject img {
  border-radius: var(--primary-rounding);
}
.wrapper-2qzCYF .callContainer-36WRfH .border-Jn5IOt {
  border-radius: var(--primary-rounding);
}
.wrapper-2qzCYF .callContainer-36WRfH .status-1WEaea {
  border-radius: var(--primary-rounding);
  bottom: -10px;
  right: -10px;
}

.chat-3bRxxu {
  background: transparent;
}
.chat-3bRxxu .content-yTz4x3 {
  margin: var(--primary-spacing);
}
.chat-3bRxxu .content-yTz4x3 .chatContent-a9vAAp {
  background-color: var(--background-secondary-alt);
  border-radius: var(--primary-rounding);
}
.chat-3bRxxu .content-yTz4x3::before {
  display: none;
}

.membersWrap-2h-GB4,
.container-2wlB3z {
  background: var(--background-secondary-alt);
  border-radius: var(--primary-rounding);
  margin-left: var(--primary-spacing);
}
.membersWrap-2h-GB4 .members-1998pB, .membersWrap-2h-GB4 .members-1998pB > div,
.container-2wlB3z .members-1998pB,
.container-2wlB3z .members-1998pB > div {
  background-color: transparent;
}
.membersWrap-2h-GB4 ::-webkit-scrollbar,
.container-2wlB3z ::-webkit-scrollbar {
  display: none;
}

.cozyMessage-3V1Y8y .contents-2mQqc9 > .markup-2BOw-j:not(:empty) {
  background-color: var(--background-primary);
  display: inline-block;
  max-width: 650px;
  margin: 0;
  padding: 5px 10px;
  border-radius: var(--primary-rounding);
  position: relative;
  overflow: visible;
}
.cozyMessage-3V1Y8y .contents-2mQqc9 > .markup-2BOw-j:not(:empty) .mention {
  border-radius: var(--primary-rounding);
  background-color: var(--background-tertiary);
}

.message-2qnXI6 {
  border-radius: var(--primary-rounding);
  -webkit-transition: 150ms ease;
  transition: 150ms ease;
  margin: 0 var(--primary-spacing);
  margin-top: 0.5rem !important;
  padding: 5px 5px 5px 4.5rem;
  margin-right: 0 !important;
}
.message-2qnXI6:hover {
  background-color: var(--background-secondary);
}

.mentioned-xhSam7 {
  border-radius: var(--primary-rounding);
}
.mentioned-xhSam7::before {
  width: 5px;
  margin: var(--primary-spacing);
  border-radius: var(--primary-rounding);
  left: unset;
  right: 0;
}

.form-2fGMdU {
  padding: 0 var(--primary-spacing);
  padding-right: 0 !important;
}
.form-2fGMdU .channelTextArea-rNsIhG {
  border-radius: var(--primary-rounding);
  margin-bottom: var(--primary-spacing);
  background-color: transparent;
}
.form-2fGMdU .channelTextArea-rNsIhG .scrollableContainer-2NUZem {
  background-color: transparent;
  border-radius: 0;
}
.form-2fGMdU .channelTextArea-rNsIhG .scrollableContainer-2NUZem .sansAttachButton-td2irx {
  padding: 0;
}
.form-2fGMdU .channelTextArea-rNsIhG .scrollableContainer-2NUZem .sansAttachButton-td2irx .attachWrapper-2TRKBi {
  background-color: var(--background-tertiary);
  border-radius: var(--primary-rounding);
  width: 50px;
}
.form-2fGMdU .channelTextArea-rNsIhG .scrollableContainer-2NUZem .sansAttachButton-td2irx .attachWrapper-2TRKBi .attachButton-2WznTc {
  margin: 0 !important;
  height: 100%;
  width: 100%;
  padding: 0;
}
.form-2fGMdU .channelTextArea-rNsIhG .scrollableContainer-2NUZem .sansAttachButton-td2irx .textArea-12jD-V {
  background-color: var(--background-tertiary);
  border-radius: var(--primary-rounding);
  margin: 0 var(--primary-spacing);
}
.form-2fGMdU .channelTextArea-rNsIhG .scrollableContainer-2NUZem .sansAttachButton-td2irx .textArea-12jD-V .placeholder-37qJjk,
.form-2fGMdU .channelTextArea-rNsIhG .scrollableContainer-2NUZem .sansAttachButton-td2irx .textArea-12jD-V .slateTextArea-1Mkdgw {
  padding: var(--secondary-rounding);
}
.form-2fGMdU .channelTextArea-rNsIhG .scrollableContainer-2NUZem .sansAttachButton-td2irx .buttons-3JBrkn {
  background-color: var(--background-tertiary);
  border-radius: var(--primary-rounding);
  margin: 0;
}
.form-2fGMdU::before {
  display: none;
}

.container-1r6BKw.themed-ANHk51 {
  background: var(--background-secondary-alt);
  border-radius: var(--primary-rounding);
  padding: var(--primary-spacing);
  margin: var(--primary-spacing);
  margin-bottom: 0 !important;
  width: unset;
}
.container-1r6BKw.themed-ANHk51 .children-19S4PO .iconWrapper-2OrFZ1,
.container-1r6BKw.themed-ANHk51 .children-19S4PO .divider-3FBTu8,
.container-1r6BKw.themed-ANHk51 .children-19S4PO .topic-TCb_qw, .container-1r6BKw.themed-ANHk51 .children-19S4PO::after {
  display: none;
}
.container-1r6BKw.themed-ANHk51 .children-19S4PO .title-29uC1r {
  text-transform: capitalize;
}
.container-1r6BKw.themed-ANHk51 .toolbar-1t6TWx [href="https://support.discord.com"] {
  display: none;
}

#app-mount [class*=unreadMentionsIndicator] {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: var(--server-size);
  height: auto;
  padding: 0;
  left: 50%;
}
#app-mount .unreadMentionsIndicatorTop-2-tcdU {
  top: 2%;
}
#app-mount .guilds-1SWlCJ {
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  background-color: var(--background-secondary-alt);
  border-radius: 0 var(--primary-rounding) var(--primary-rounding) 0;
  width: var(--server-container);
  top: calc(var(--server-container) + var(--primary-spacing));
  bottom: unset;
  position: absolute !important;
  left: var(--primary-spacing);
  -webkit-transition: height var(--transition-normal) ease !important;
  transition: height var(--transition-normal) ease !important;
  z-index: 11;
  height: var(--sidebar-width);
}
#app-mount .guilds-1SWlCJ > [data-list-id=guildsnav] {
  margin-bottom: 0 !important;
}
#app-mount .guilds-1SWlCJ .scrollerWrap-1IAIlv {
  width: calc(100% + 30px);
}
#app-mount .guilds-1SWlCJ .scrollerBase-289Jih {
  background-color: transparent;
  padding-top: 0 !important;
}
#app-mount .guilds-1SWlCJ .scrollerBase-289Jih > div[style]:not(.listItem-2P_4kh) {
  height: auto !important;
}
#app-mount .guilds-1SWlCJ .scrollerBase-289Jih > div[style]:not(.listItem-2P_4kh)[style*="height: 0px"] {
  padding-top: 1px;
}
#app-mount .guilds-1SWlCJ .svg-1X37T1,
#app-mount .guilds-1SWlCJ .wrapper-25eVIn,
#app-mount .guilds-1SWlCJ .guildsError-b7zR5H,
#app-mount .guilds-1SWlCJ .placeholderMask-3K9THS {
  width: var(--server-size);
  height: var(--server-size);
}
#app-mount .guilds-1SWlCJ [role=group] {
  height: auto !important;
}
#app-mount .guilds-1SWlCJ [class*=pill] {
  -webkit-transform: rotate(90deg) translateY(-50%);
          transform: rotate(90deg) translateY(-50%);
  height: var(--server-size);
  width: 4px;
  top: calc( var(--server-size) / -1 + var(--server-size) / 2 - 8px ) !important;
  margin-left: -2px;
}
#app-mount .guilds-1SWlCJ [class*=pill] span {
  height: 100% !important;
  width: 4px !important;
  -webkit-transform: scale(0, 1) !important;
          transform: scale(0, 1) !important;
  -webkit-transition: 0.15s ease !important;
  transition: 0.15s ease !important;
  margin-left: 0;
  border-radius: 0 4px 4px 0;
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 0"] {
  -webkit-transform: scale(1, 0.24) !important;
          transform: scale(1, 0.24) !important;
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 1"] {
  -webkit-transform: scale(1, 0.24) !important;
          transform: scale(1, 0.24) !important;
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 2"] {
  -webkit-transform: scale(1, 0.24) !important;
          transform: scale(1, 0.24) !important;
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 3"] {
  -webkit-transform: scale(1, 0.24) !important;
          transform: scale(1, 0.24) !important;
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 4"] {
  -webkit-transform: scale(1, 0.24) !important;
          transform: scale(1, 0.24) !important;
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 5"] {
  -webkit-transform: scale(1, 0.24) !important;
          transform: scale(1, 0.24) !important;
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 6"] {
  -webkit-transform: scale(1, 0.24) !important;
          transform: scale(1, 0.24) !important;
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 7"] {
  -webkit-transform: scale(1, 0.24) !important;
          transform: scale(1, 0.24) !important;
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 8"] {
  -webkit-transform: scale(1, 0.24) !important;
          transform: scale(1, 0.24) !important;
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 9"] {
  -webkit-transform: scale(1, 0.7) !important;
          transform: scale(1, 0.7) !important;
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 10"] {
  -webkit-transform: scale(1, 0.7) !important;
          transform: scale(1, 0.7) !important;
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 11"] {
  -webkit-transform: scale(1, 0.7) !important;
          transform: scale(1, 0.7) !important;
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 12"] {
  -webkit-transform: scale(1, 0.7) !important;
          transform: scale(1, 0.7) !important;
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 13"] {
  -webkit-transform: scale(1, 0.7) !important;
          transform: scale(1, 0.7) !important;
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 14"] {
  -webkit-transform: scale(1, 0.7) !important;
          transform: scale(1, 0.7) !important;
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 15"] {
  -webkit-transform: scale(1, 0.7) !important;
          transform: scale(1, 0.7) !important;
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 16"] {
  -webkit-transform: scale(1, 0.7) !important;
          transform: scale(1, 0.7) !important;
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 17"] {
  -webkit-transform: scale(1, 0.7) !important;
          transform: scale(1, 0.7) !important;
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 18"] {
  -webkit-transform: scale(1, 0.7) !important;
          transform: scale(1, 0.7) !important;
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 19"] {
  -webkit-transform: scale(1, 0.7) !important;
          transform: scale(1, 0.7) !important;
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 20"] {
  -webkit-transform: scale(1, 0.7) !important;
          transform: scale(1, 0.7) !important;
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 21"] {
  -webkit-transform: scale(1, 1) !important;
          transform: scale(1, 1) !important;
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 22"] {
  -webkit-transform: scale(1, 1) !important;
          transform: scale(1, 1) !important;
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 23"] {
  -webkit-transform: scale(1, 1) !important;
          transform: scale(1, 1) !important;
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 24"] {
  -webkit-transform: scale(1, 1) !important;
          transform: scale(1, 1) !important;
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 25"] {
  -webkit-transform: scale(1, 1) !important;
          transform: scale(1, 1) !important;
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 26"] {
  -webkit-transform: scale(1, 1) !important;
          transform: scale(1, 1) !important;
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 27"] {
  -webkit-transform: scale(1, 1) !important;
          transform: scale(1, 1) !important;
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 28"] {
  -webkit-transform: scale(1, 1) !important;
          transform: scale(1, 1) !important;
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 29"] {
  -webkit-transform: scale(1, 1) !important;
          transform: scale(1, 1) !important;
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 30"] {
  -webkit-transform: scale(1, 1) !important;
          transform: scale(1, 1) !important;
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 31"] {
  -webkit-transform: scale(1, 1) !important;
          transform: scale(1, 1) !important;
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 32"] {
  -webkit-transform: scale(1, 1) !important;
          transform: scale(1, 1) !important;
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 33"] {
  -webkit-transform: scale(1, 1) !important;
          transform: scale(1, 1) !important;
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 34"] {
  -webkit-transform: scale(1, 1) !important;
          transform: scale(1, 1) !important;
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 35"] {
  -webkit-transform: scale(1, 1) !important;
          transform: scale(1, 1) !important;
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 36"] {
  -webkit-transform: scale(1, 1) !important;
          transform: scale(1, 1) !important;
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 37"] {
  -webkit-transform: scale(1, 1) !important;
          transform: scale(1, 1) !important;
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 38"] {
  -webkit-transform: scale(1, 1) !important;
          transform: scale(1, 1) !important;
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 39"] {
  -webkit-transform: scale(1, 1) !important;
          transform: scale(1, 1) !important;
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 40"] {
  -webkit-transform: scale(1, 1) !important;
          transform: scale(1, 1) !important;
}
#app-mount .guilds-1SWlCJ .wrapper-sa6paO {
  height: var(--server-size) !important;
}
#app-mount .guilds-1SWlCJ .wrapper-21YSNc,
#app-mount .guilds-1SWlCJ .wrapper-3Njo_c {
  width: var(--server-container);
}
#app-mount .guilds-1SWlCJ [class*=listItem]:not([class*=listItemWrapper]) {
  width: var(--server-size);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin: var(--server-spacing) 10px;
  position: unset;
}
#app-mount .guilds-1SWlCJ [class*=guildSeparator] {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  width: var(--server-size);
}
#app-mount .guilds-1SWlCJ [class*=expandedFolderBackground] {
  width: var(--server-size);
  border-radius: 10px;
  -webkit-transform: translateX(-5%);
          transform: translateX(-5%);
}
#app-mount .guilds-1SWlCJ .folder-21wGz3 {
  background: transparent;
}
#app-mount .guilds-1SWlCJ.hidden-3dXt4k + .base-3dtUhz {
  top: 0 !important;
}
#app-mount [class*=listItemTooltip] {
  position: absolute;
  max-width: unset;
  white-space: nowrap;
  margin-left: calc(var(--server-size) / -1 - 20px);
  top: calc(var(--server-size) - 10px);
}
#app-mount [class*=listItemTooltip] [class*=tooltipPointer] {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  top: -5px;
  right: unset;
  left: 13px;
  z-index: 1;
}
#app-mount .friendsOnline-2JkivW {
  position: absolute;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  top: calc(-50% + var(--server-spacing));
  left: calc(-50%);
  width: calc(var(--server-size) + var(--server-spacing));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#app-mount .guilds-1SWlCJ.content-Pph8t6,
#app-mount .BF-folderSidebar {
  position: absolute !important;
  top: calc(var(--server-container) * 2) !important;
}
#app-mount .guilds-1SWlCJ.content-Pph8t6:not(.closed-j55_T-) + .base-3dtUhz,
#app-mount .BF-folderSidebar:not(.closed-j55_T-) + .base-3dtUhz {
  top: calc(var(--server-container) * 2) !important;
}
#app-mount .guilds-1SWlCJ .frame-oXWS21[class*=listItem] {
  height: var(--server-size) !important;
}
#app-mount .guilds-1SWlCJ .frame-oXWS21[class*=listItem] .wrapper-1BJsBx {
  height: 100% !important;
}
#app-mount .guilds-1SWlCJ .frame-oXWS21[class*=listItem] .button-Jt-tIg {
  width: 100%;
  height: 100% !important;
  border-radius: 50%;
  padding: 2px;
  font-size: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}
#app-mount .BF-folderSidebar {
  top: calc(var(--server-container)) !important;
}

html.platform-osx #app-mount .typeMacOS-3EmCyP {
  width: 100%;
}
html.platform-osx #app-mount .base-3dtUhz {
  top: var(--primary-spacing);
  margin-bottom: var(--primary-spacing);
}
html.platform-osx #app-mount #pluginNotice {
  top: 32px;
  z-index: 100000 !important;
}

body.foldercontentopened .base-3dtUhz {
  -webkit-transition: 0.2s ease !important;
  transition: 0.2s ease !important;
}

.guildIcon-d5nahd {
  border-radius: var(--primary-rounding);
}

.wrapper-25eVIn svg foreignObject {
  border-radius: var(--primary-rounding);
  -webkit-mask: none;
          mask: none;
}
.wrapper-25eVIn .upperBadge-2XnnGB {
  right: -5px;
  top: -5px;
}
.wrapper-25eVIn .upperBadge-2XnnGB .iconBadge-1Prgh2 {
  background-color: var(--background-secondary);
  border-radius: var(--primary-rounding);
}
.wrapper-25eVIn .lowerBadge-29hYVK {
  bottom: -5px;
  right: -5px;
}
.wrapper-25eVIn .lowerBadge-29hYVK .numberBadge-2s8kKX {
  border-radius: var(--primary-rounding);
}

.circleIconButton-hZmpE8 {
  color: var(--interactive-normal);
}
.circleIconButton-hZmpE8:hover {
  background-color: var(--background-secondary);
  color: var(--interactive-hover);
}

.childWrapper-anI2G9:hover {
  background-color: var(--background-secondary) !important;
}

.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9 {
  background-color: var(--background-secondary) !important;
}

.wrapperSimple-19ogV2 {
  border-radius: 0;
}

.circleIconButton-hZmpE8.selected-3mFF3I {
  background-color: var(--background-tertiary) !important;
}

.root-1gCeng {
  background-color: var(--background-primary) !important;
  border-radius: var(--primary-rounding);
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}
.root-1gCeng .footer-2gL1pp {
  background-color: var(--background-secondary-alt);
  border-radius: var(--primary-rounding);
  margin: var(--primary-spacing);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.root-3QyAh1 {
  background-color: transparent !important;
  border-radius: var(--primary-rounding);
  -webkit-box-shadow: none;
          box-shadow: none;
}
.root-3QyAh1 .topSection-y3p-_D {
  background-color: transparent;
  border-radius: var(--primary-rounding);
}
.root-3QyAh1 .topSection-y3p-_D header {
  background-color: var(--background-primary);
  border-radius: var(--primary-rounding);
  padding: var(--primary-spacing) 0;
}
.root-3QyAh1 .topSection-y3p-_D header .banner-2QYc2d {
  border-radius: var(--primary-rounding);
  margin: var(--primary-spacing);
  width: calc(100% - 20px);
  margin-top: 0 !important;
  height: 150px;
}
.root-3QyAh1 .topSection-y3p-_D header .header-4zuFdR .avatar-AvHqJA {
  background-color: var(--background-tertiary);
  border-radius: var(--primary-rounding);
  left: var(--primary-spacing);
  position: relative;
  border: none;
  top: 0;
}
.root-3QyAh1 .topSection-y3p-_D header .header-4zuFdR .avatar-AvHqJA svg foreignObject {
  -webkit-mask: none;
          mask: none;
}
.root-3QyAh1 .topSection-y3p-_D header .header-4zuFdR .avatar-AvHqJA svg foreignObject img {
  border-radius: var(--primary-rounding);
}
.root-3QyAh1 .topSection-y3p-_D header .header-4zuFdR .avatar-AvHqJA .pointerEvents-2zdfdO {
  pointer-events: none;
  -webkit-mask: none;
          mask: none;
  ry: 6;
}
.root-3QyAh1 .topSection-y3p-_D header .header-4zuFdR .headerTop-547GTz {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  right: var(--primary-spacing);
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  top: 0;
}
.root-3QyAh1 .topSection-y3p-_D header .header-4zuFdR .headerTop-547GTz .badgeList-1R1WgZ {
  padding-top: var(--primary-spacing) !important;
  padding: 0;
}
.root-3QyAh1 .topSection-y3p-_D header .nameTag-ECvD8P {
  margin-left: calc(var(--tertiary-spacing) * 3.5) !important;
  top: calc(var(--tertiary-spacing) * 4.15);
  position: absolute;
  margin: 0;
}
.root-3QyAh1 .topSection-y3p-_D header .customStatusActivity-nmH3DF {
  margin-left: calc(var(--tertiary-spacing) * 3.5) !important;
  top: calc(var(--tertiary-spacing) * 4.8);
  max-width: 250px;
  position: absolute;
  padding: 0;
}
.root-3QyAh1 .topSection-y3p-_D .tabBarContainer-37hZsr {
  border-radius: var(--primary-rounding) var(--primary-rounding) 0 0;
  background-color: var(--background-primary);
  margin-top: var(--primary-spacing);
  padding-top: var(--primary-spacing) !important;
  border: none;
  padding: 0;
}
.root-3QyAh1 .topSection-y3p-_D .tabBarContainer-37hZsr .tabBar-3nvOPa {
  background-color: var(--background-secondary-alt);
  border-radius: var(--primary-rounding);
  margin: 0 var(--primary-spacing);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.root-3QyAh1 .topSection-y3p-_D .tabBarContainer-37hZsr .tabBar-3nvOPa .tabBarItem-3dfX8P {
  border-radius: var(--primary-rounding);
  margin: var(--primary-spacing);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  width: 100px;
}
.root-3QyAh1 .topSection-y3p-_D .tabBarContainer-37hZsr .tabBar-3nvOPa .tabBarItem-3dfX8P:hover:not(.selected-3s45Ha) {
  background-color: var(--background-secondary);
}
.root-3QyAh1 .topSection-y3p-_D .tabBarContainer-37hZsr .tabBar-3nvOPa .selected-3s45Ha {
  background-color: var(--background-tertiary);
}
.root-3QyAh1 .body-r6_QPy {
  background-color: var(--background-primary);
}
.root-3QyAh1 .body-r6_QPy .listRow-1iDGel {
  padding-left: 6px !important;
}
.root-3QyAh1 .body-r6_QPy .listRow-1iDGel:hover {
  background-color: var(--background-secondary);
}
.root-3QyAh1 .body-r6_QPy .pc-connections .connectedAccounts-QlRa4m:empty::before {
  display: none;
}

.pageWrapper-1PgVDX {
  background-color: var(--background-primary) !important;
}

.discoverHeader-3th5O9 {
  background-color: transparent;
  color: transparent;
}
.discoverHeader-3th5O9::after {
  background-color: var(--background-secondary-alt);
  position: absolute;
  height: 50px;
  width: 260px;
  content: "";
  left: 0;
  z-index: 0;
  top: -1px;
}
.discoverHeader-3th5O9::before {
  border-radius: var(--primary-rounding) var(--primary-rounding) 0;
  background-color: var(--background-primary);
  left: var(--primary-spacing);
  color: var(--text-normal);
  padding: 5px 0px 5px 10px;
  content: "Discover";
  position: absolute;
  padding-top: 10px;
  z-index: 101;
  width: 230px;
  top: 0px;
}

.categoryItem-ONe8JV {
  border-radius: var(--primary-rounding);
  margin-left: 0 !important;
}
.categoryItem-ONe8JV .layout-2DM8Md {
  border-radius: var(--primary-rounding);
}
.categoryItem-ONe8JV:nth-child(2) {
  margin-top: 65px;
}

.categoryItem-ONe8JV.selectedCategoryItem-28UllF .itemInner-1XfZdz {
  background-color: var(--background-modifier-active) !important;
}

.container-1D34oG {
  background-color: var(--background-primary) !important;
}
.container-1D34oG .tabBody-3YRQ8W {
  margin: var(--primary-spacing);
}
.container-1D34oG .tabBody-3YRQ8W .peopleColumn-29fq28 {
  background-color: var(--background-secondary-alt);
  border-radius: var(--primary-rounding);
  margin-right: var(--primary-spacing);
}
.container-1D34oG .tabBody-3YRQ8W .nowPlayingColumn-2sl4cE {
  border-radius: var(--primary-rounding);
  background: var(--background-secondary-alt);
}
.container-1D34oG .tabBody-3YRQ8W .nowPlayingColumn-2sl4cE .container-lRFx4q {
  border-radius: var(--primary-rounding);
  background-color: transparent;
}
.container-1D34oG .tabBody-3YRQ8W .nowPlayingColumn-2sl4cE .container-lRFx4q .scroller-2ZPeAD {
  border: none;
  margin: 0;
}
.container-1D34oG .tabBody-3YRQ8W .nowPlayingColumn-2sl4cE .container-lRFx4q .scroller-2ZPeAD .itemCard-v9viV7 {
  border-radius: var(--primary-rounding);
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}
.container-1D34oG .tabBody-3YRQ8W .nowPlayingColumn-2sl4cE .container-lRFx4q .scroller-2ZPeAD .itemCard-v9viV7:hover, .container-1D34oG .tabBody-3YRQ8W .nowPlayingColumn-2sl4cE .container-lRFx4q .scroller-2ZPeAD .itemCard-v9viV7:active {
  background-color: var(--background-tertiary);
}
.container-1D34oG .tabBody-3YRQ8W .nowPlayingColumn-2sl4cE .container-lRFx4q .scroller-2ZPeAD::-webkit-scrollbar {
  display: none;
}
.container-1D34oG .tabBody-3YRQ8W::before {
  display: none;
}

.scroller-1IIF0A {
  background-color: var(--background-secondary-alt);
  border-radius: var(--primary-rounding);
  margin: var(--primary-spacing);
  overflow: hidden !important;
}
.scroller-1IIF0A .header-39GIC8 {
  border-radius: var(--primary-rounding);
  margin: var(--primary-spacing);
  width: calc(100% - 20px);
  padding: 10px;
}

.scroller-2XE8rp {
  background-color: var(--background-secondary-alt);
  border-radius: var(--primary-rounding);
  margin: var(--primary-spacing);
}

.applicationStore-1pNvnv {
  background-color: var(--background-primary);
}
.applicationStore-1pNvnv .scroller-9moviB {
  background-color: var(--background-secondary-alt);
  border-radius: var(--primary-rounding);
  margin: var(--primary-spacing);
}

.menu-3sdvDG {
  background-color: var(--background-secondary);
  border-radius: var(--primary-rounding);
}
.menu-3sdvDG .button-F9qN4n {
  border-radius: var(--primary-rounding);
}
.menu-3sdvDG .colorDefault-2K3EoJ.focused-3afm-j:not(.colorDanger-2qLCe1) {
  background-color: var(--background-secondary-alt) !important;
}

.tooltipPrimary-1d1ph4 {
  background-color: var(--background-secondary) !important;
  border-radius: var(--primary-rounding);
  z-index: 3001;
}
.tooltipPrimary-1d1ph4 .tooltipPointer-3ZfirK {
  border-top-color: var(--background-secondary) !important;
}

.searchResultsWrap-3-pOjs {
  background-color: var(--background-secondary-alt);
  border-radius: var(--primary-rounding);
  margin-left: var(--primary-spacing);
}
.searchResultsWrap-3-pOjs .searchHeader-2XoQg7 {
  background-color: var(--background-secondary);
  border-radius: var(--primary-rounding);
  margin: var(--primary-spacing);
}
.searchResultsWrap-3-pOjs [aria-selected=true] {
  background-color: var(--background-primary) !important;
}
.searchResultsWrap-3-pOjs .scroller-3GIiMh {
  padding: 0 var(--primary-spacing);
}
.searchResultsWrap-3-pOjs .scroller-3GIiMh .searchResultGroup-1DphGG {
  margin-bottom: 0;
}
.searchResultsWrap-3-pOjs .scroller-3GIiMh .searchResultGroup-1DphGG .container-2j2llN {
  background-color: var(--background-secondary);
  border-radius: var(--primary-rounding);
}
.searchResultsWrap-3-pOjs .scroller-3GIiMh .searchResultGroup-1DphGG .container-2j2llN .searchResult-9tQ1uo {
  background-color: transparent;
}
.searchResultsWrap-3-pOjs .scroller-3GIiMh .container-NdaZbY {
  background-color: var(--background-secondary);
  border-radius: var(--primary-rounding);
  margin: var(--primary-spacing) 0;
  margin-top: 0 !important;
}
.searchResultsWrap-3-pOjs .scroller-3GIiMh .container-NdaZbY .pageControlContainer-eP-SVd {
  margin-top: 0 !important;
}
.searchResultsWrap-3-pOjs .scroller-3GIiMh .container-NdaZbY .pageControlContainer-eP-SVd [aria-current=page] {
  background-color: var(--background-secondary-alt) !important;
}
.searchResultsWrap-3-pOjs .scroller-3GIiMh::-webkit-scrollbar {
  display: none;
}

.container-3ayLPN {
  background-color: var(--background-secondary) !important;
  border-radius: var(--primary-rounding);
}
.container-3ayLPN .option-96V44q {
  border-radius: var(--primary-rounding);
}
.container-3ayLPN .option-96V44q:hover {
  background-color: var(--background-secondary-alt) !important;
}
.container-3ayLPN .option-96V44q::after {
  display: none;
}

.userPopout-xaxa6l {
  background-color: transparent;
  max-height: 720px;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.userPopout-xaxa6l .headerNormal-3KXFBt {
  margin-bottom: var(--primary-spacing);
}
.userPopout-xaxa6l .headerNormal-3KXFBt .banner-2QYc2d {
  border-radius: var(--primary-rounding);
  height: 120px;
}
.userPopout-xaxa6l .avatarWrapper-3r9PdD {
  top: 140px;
  left: var(--primary-spacing);
}
.userPopout-xaxa6l .avatarWrapper-3r9PdD .avatar-37jOim {
  background-color: var(--background-primary);
  border-radius: var(--primary-rounding);
  border: none;
}
.userPopout-xaxa6l .avatarWrapper-3r9PdD .avatar-37jOim svg foreignObject {
  -webkit-mask: none;
          mask: none;
}
.userPopout-xaxa6l .avatarWrapper-3r9PdD .avatar-37jOim svg foreignObject img {
  border-radius: var(--primary-rounding);
}
.userPopout-xaxa6l .avatarWrapper-3r9PdD .avatar-37jOim svg .pointerEvents-2zdfdO {
  pointer-events: none;
  height: 16px;
  -webkit-mask: none;
          mask: none;
  ry: 3;
  x: 60;
  y: 60;
}
.userPopout-xaxa6l .avatarWrapper-3r9PdD .avatarHint-2A3RNb {
  border-radius: var(--primary-rounding);
  left: 0;
  top: 0;
}
.userPopout-xaxa6l .avatarWrapper-3r9PdD .avatarHint-2A3RNb foreignObject {
  -webkit-mask: none;
          mask: none;
}
.userPopout-xaxa6l .headerTop-3vNv-a {
  background-color: var(--background-tertiary);
  border-radius: var(--primary-rounding);
  padding-top: var(--primary-spacing);
  padding-left: calc(var(--primary-spacing) * 10);
  padding-bottom: calc(var(--tertiary-spacing) * 2);
  height: 42px;
}
.userPopout-xaxa6l .headerTop-3vNv-a .profileBadges-ohc0Vu {
  max-width: 100%;
  bottom: var(--primary-spacing);
  left: var(--primary-spacing);
  right: unset;
  top: unset;
}
.userPopout-xaxa6l .body-3HBlXn {
  background-color: var(--background-tertiary);
  padding: var(--primary-spacing) !important;
  border-radius: var(--primary-rounding);
  margin-top: var(--primary-spacing);
  -webkit-box-shadow: none;
          box-shadow: none;
}
.userPopout-xaxa6l .body-3HBlXn .bodyInnerWrapper-26fQXj {
  background-color: var(--background-secondary);
  border-radius: var(--primary-rounding);
  padding: var(--primary-spacing);
}
.userPopout-xaxa6l .body-3HBlXn::-webkit-scrollbar {
  display: none;
}
.userPopout-xaxa6l .footer-3UKYOU {
  background-color: var(--background-tertiary);
  padding: var(--primary-spacing);
}
.userPopout-xaxa6l .footer-3UKYOU .input-2_SIlA {
  border-radius: var(--primary-rounding);
  border: none;
}

.container-3w7J-x {
  background-color: transparent;
}
.container-3w7J-x .scroller-RmtA4e {
  background-color: var(--background-secondary-alt);
  border-radius: var(--primary-rounding);
  margin: var(--primary-spacing) 0;
  margin-bottom: 0 !important;
}
.container-3w7J-x .scroller-RmtA4e .wrapper-PY0fhH {
  color: var(--interactive-normal);
}
.container-3w7J-x .scroller-RmtA4e .wrapper-PY0fhH .icon-2yIBmh,
.container-3w7J-x .scroller-RmtA4e .wrapper-PY0fhH .container-2ax-kl {
  color: var(--interactive-normal);
}
.container-3w7J-x .scroller-RmtA4e .wrapper-PY0fhH:hover .icon-2yIBmh,
.container-3w7J-x .scroller-RmtA4e .wrapper-PY0fhH:hover .container-2ax-kl {
  color: var(--interactive-hover);
}
.container-3w7J-x .scroller-RmtA4e .unread-2lAfLh {
  background-color: var(--background-tertiary);
  border-radius: var(--primary-rounding);
  right: var(--secondary-spacing);
  left: unset;
  height: 20px;
  width: 5px;
  z-index: 1;
  top: 11px;
}
.container-3w7J-x .scroller-RmtA4e .content-1x5b-n {
  margin: 0 var(--primary-spacing);
}
.container-3w7J-x .scroller-RmtA4e .content-1x5b-n .iconItem-F7GRxr {
  display: none;
}
.container-3w7J-x .scroller-RmtA4e .content-1x5b-n .icon-1DeIlz {
  color: var(--interactive-active);
}
.container-3w7J-x .scroller-RmtA4e .content-1x5b-n .mentionsBadge-3tC7Mi .numberBadge-2s8kKX {
  background-color: transparent !important;
  position: relative;
  right: 8px;
}
.container-3w7J-x .scroller-RmtA4e .content-1x5b-n .mentionsBadge-3tC7Mi .numberBadge-2s8kKX::before {
  background-color: hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%);
  border-radius: var(--primary-rounding);
  position: absolute;
  height: 20px;
  content: "";
  z-index: 1;
  width: 5px;
  left: 17px;
}
.container-3w7J-x .scroller-RmtA4e::-webkit-scrollbar {
  display: none;
}
.container-3w7J-x .unreadTop-3rAB3r {
  margin-top: var(--primary-spacing);
}

.container-3fNISf {
  background-color: var(--background-primary);
  border-radius: var(--primary-rounding);
  margin: var(--primary-spacing);
  margin-top: -5px !important;
  padding: 5px;
}
.container-3fNISf .divider-3C88Um {
  display: none;
}

.container-1taM1r {
  border-radius: 0 0 var(--primary-rounding) var(--primary-rounding);
  background-color: var(--background-secondary-alt);
  margin-top: calc(var(--tertiary-spacing) * 1.5);
}
.container-1taM1r .header-2V-4Sw {
  border-radius: var(--primary-rounding) var(--primary-rounding) 0 0;
  margin-bottom: calc(var(--tertiary-spacing) * 1.6) !important;
  background-color: var(--background-primary);
  margin: var(--primary-spacing);
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  margin-top: 0 !important;
  -webkit-filter: none !important;
          filter: none !important;
}

.panels-j1Uci_ {
  border-radius: var(--primary-rounding);
}
.panels-j1Uci_ .container-3baos1 {
  border-radius: 0 0 var(--primary-rounding) var(--primary-rounding);
  background-color: var(--background-primary);
  top: calc(var(--tertiary-spacing) * 2.96);
  left: var(--secondary-spacing);
  position: absolute;
  width: 224px;
  z-index: 100;
}
.panels-j1Uci_ .wrapper-24pKcD .container-1giJp5 {
  background-color: var(--background-primary);
  border-radius: var(--primary-rounding);
  margin: var(--primary-spacing);
  border: none;
}
.panels-j1Uci_ .wrapper-24pKcD .container-1giJp5 button {
  border-radius: var(--primary-rounding);
}
.panels-j1Uci_ .activityPanel-28dQGo {
  background-color: var(--background-primary);
  border-radius: var(--primary-rounding);
  margin: var(--primary-spacing);
  border: none;
}

.privateChannels-1nO12o {
  margin-top: calc(var(--tertiary-spacing) * 1.5);
  background-color: transparent;
}
.privateChannels-1nO12o .searchBar-6Kv8R2 {
  border-radius: 0 0 var(--primary-rounding) var(--primary-rounding);
  padding-bottom: calc(var(--tertiary-spacing) * 1.6);
  background-color: var(--background-secondary-alt);
  -webkit-box-shadow: none;
          box-shadow: none;
  z-index: 0;
}
.privateChannels-1nO12o .searchBar-6Kv8R2 .searchBarComponent-32dTOx {
  border-radius: var(--primary-rounding) var(--primary-rounding) 0 0;
  background-color: var(--background-primary);
  font-size: 16px;
  height: 50px;
}
.privateChannels-1nO12o .scroller-1JbKMe {
  background-color: var(--background-secondary-alt);
  border-radius: var(--primary-rounding);
  margin: var(--primary-spacing) 0;
}
.privateChannels-1nO12o .scroller-1JbKMe [style="height: 8px;"] {
  height: var(--primary-spacing) !important;
}
.privateChannels-1nO12o .scroller-1JbKMe .channel-2QD9_O {
  border-radius: var(--primary-rounding);
  margin: 0 var(--primary-spacing);
  max-width: unset;
}
.privateChannels-1nO12o .scroller-1JbKMe::-webkit-scrollbar {
  display: none;
}

.sidebar-2K8pFh {
  border-radius: var(--primary-rounding) !important;
  margin: var(--primary-spacing);
  width: var(--sidebar-width);
  margin-right: 0 !important;
  background: transparent;
}

:root {
  --background-primary: #25294a;
  --background-secondary: #202442;
  --background-secondary-alt: #2D325A;
  --background-tertiary: #1B1F38;
  --btn-bg-primary: #2c3263;
  --btn-bg-secondary: #202442;
  --btn-bg-primary-hover: #1b1e35;
  --btn-bg-secondary-hover: #22295a;
  --background-modifier-selected: var(--background-secondary);
  --background-modifier-hover: var(--background-primary);
  --background-modifier-active: var(--background-secondary-alt);
  --interactive-active: #ffffff;
  --interactive-hover: #ffffff6e;
  --interactive-normal: #ffffffc9;
  --text-normal: #d8dee9;
  --text-secondary: #d8dee98a;
  --text-link: var(--text-normal);
  --focus-primary: #fff;
  --theme: "Nebula";
  --author: "Loremly";
  --version: "v5.0.0";
  --primary-rounding: 5px;
  --secondary-rounding: calc(var(--primary-rounding) * 2);
  --tertiary-rounding: calc(var(--primary-rounding) * 4);
  --primary-spacing: 10px;
  --secondary-spacing: calc(var(--primary-spacing) * 2);
  --tertiary-spacing: calc(var(--primary-spacing) * 4);
  --sidebar-width: 260px;
  --transition-normal: 250ms;
  --transition-slow: calc(var(--transition-normal) * 2) ease;
  --transition-fast: cal(var(--transition-normal) / 2) ease;
  --server-size: var(--HSL-server-icon-size, var(--HSL-size, 40px));
  --server-spacing: var(--HSL-server-spacing, var(--HSL-spacing, 10px));
  --server-container: calc(var(--server-size) + 20px);
  --saturation-factor: 1 !important;
}