.unreadTop-3rAB3r{
    top: calc(var(--secondary-spacing) + 2px);
}
.unreadBottom-1_LF_w{
    bottom: var(--primary-spacing);
    z-index: 10;
}
.container-35XQWE .bar-30k2ka{
    background-color: var(--background-tertiary);
    box-shadow: none !important;
    border-radius: 2px;
    opacity: 1;
}