.container-3w7J-x{
    background-color: transparent;
    .scroller-RmtA4e{
        margin-top: calc(var(--secondary-spacing) + 4px);
        background-color: var(--background-primary);
        border-radius: var(--primary-rounding);
        margin-bottom: var(--primary-spacing);
        [style="height: 84px;"]{
            height: 130px !important;
        }
    }
    .channelNotice-1-XFjC{
        background-color: var(--background-primary);
        border-radius: var(--primary-rounding);
        box-shadow: none;
        &::after{
            background-color: var(--background-primary);
            border-radius: 0 0 var(--primary-rounding) var(--primary-rounding);
            position: absolute;
            bottom: -10px;
            height: 13px;
            content: '';
            width: 100%;
            left: 0px;
        }
    }
    ::-webkit-scrollbar{
        display: none;
    }
}