.container-3w7J-x{
    padding-top: calc(var(--primary-spacing) + calc(var(--server-container)));
    background-color: transparent;
    .content-1x5b-n{
        margin: 0 var(--primary-spacing);
    }
}