.header-2V-4Sw{
    border-radius: 0 0 var(--primary-rounding) var(--primary-rounding);
    background-color: var(--background-secondary-alt) !important;
    width: var(--sidebar-content-width-1);
    left: var(--primary-spacing);
    box-shadow: none !important;
    filter: none !important;
}
.animatedContainer-1NSq4T{
    margin-top: calc(var(--tertiary-spacing) + var(--secondary-spacing));
    background-color: transparent;
    transform: none !important;
    box-shadow: none;
    .bannerImage-3KhIJ6{
        border-radius: var(--primary-rounding);
        width: var(--sidebar-content-width-1);
        left: var(--primary-spacing);
        transform: none !important;
        &::before{
            display: none;
        }
    }
}
[style="height: 84px;"]{
    height: 140px !important;
}