.privateChannels-1nO12o{
    padding-top: calc(var(--primary-spacing) + calc(var(--server-container)));
    background-color: transparent;
    .searchBar-6Kv8R2{
        border-radius: 0 0 var(--primary-rounding) var(--primary-rounding);
        background-color: var(--background-secondary-alt);
        width: var(--sidebar-content-width-2);
        left: var(--primary-spacing);
        box-shadow: none;
    }
    .scroller-1JbKMe{
        background-color: transparent;
        .content-3YMskv {
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            justify-content: center;
            margin: 0 var(--primary-spacing);
            .channel-2QD9_O{
                max-width: var(--sidebar-content-width-1);
                margin: 2px 0;
            }
            .selected-aXhQR6:not([href*="/channels/@me/"]) .layout-2DM8Md{
                background-color: var(--background-secondary) !important;
            }
            & > a {
                &:not([href*="/channels/@me/"]) {
                    flex-grow: 1;
                    width: 20%;
                    margin: 8px 0px 0 0px;
                    [class*="content-"] {
                        display: none;
                    }
                    [class*="layout-"] {
                        background: var(--background-secondary-alt);
                        border-radius: var(--primary-rounding);
                        justify-content: center;
                        padding: 0px !important;
                        &:hover{
                            background-color: var(--background-secondary);
                        }
                    }
                }
            }
            .children-gzQq2t {
                margin-left: 0px;
            }
            & > h2 {
                width: 100%;
            }
            & > a[href*="/channels/@me/"] {
                width: 100%;
            }
            & > a[href='/library'] {
                margin: 8px var(--primary-spacing) 0 0;
                .linkButtonIcon-Mlm5d6 {
                    position: relative;
                    bottom: 1px;
                }
            }
            & > a[href='/discovery'] {
                margin: 8px var(--primary-spacing) 0 var(--primary-spacing);
                .linkButtonIcon-Mlm5d6 {
                    position: relative;
                    bottom: 0px;
                }
            }
            & > a {
                &:not([href*="/channels/@me/"]) {
                    [class*="avatar-"] {
                        margin: 0 !important;
                    }
                }
            }
            & > a[href='/store'] {
                .linkButtonIcon-Mlm5d6 {
                    position: relative;
                    bottom: 1px;
                }
            }
        }
        [href="/channels/@me"]{
            .children-gzQq2t{
                position: absolute;
                top: 35px;
                right: -2px;
                .numberBadge-2s8kKX{
                    border-radius: var(--primary-rounding);
                }
            }
        }
    }
}