.sidebar-2K8pFh{
    border-radius: var(--primary-rounding) !important;
    background-color: var(--background-primary);
    transition: width 250ms ease !important;
    margin: var(--primary-spacing);
    width: var(--sidebar-width);
    margin-right: 0!important;
    margin-top: 0 !important;
    ::-webkit-scrollbar{
        display: none;
    }
}
.sidebar-2K8pFh.active{
    left: var(--primary-spacing);
    position: relative;
    width: 0 !important;
    margin: 0 !important;
}