.panels-j1Uci_{
    border-radius: var(--primary-rounding);
    margin: var(--primary-spacing);
    margin-top: 0 !important;
    .container-1giJp5{
        background-color: var(--background-primary);
        border-radius: var(--primary-rounding);
        margin: var(--primary-spacing);
        border: none;
    }
    .panel-24C3ux{
        background-color: var(--background-secondary);
        border-radius: var(--primary-rounding);
        margin: var(--primary-spacing);
    }
    .powercord-spotify{
        background-color: var(--background-secondary);
        border-radius: var(--primary-rounding);
        margin: var(--primary-spacing);
        height: 80px;
        .spotify-seek{
            transition: none;
            margin: 0;
            .spotify-seek-elements{
                transition: none;
                opacity: 1;
                height: 12px
            }
            .spotify-seek-bar{
                transition: none;
                .spotify-seek-bar-progress{
                    border-radius: var(--primary-rounding);
                    height: 6px;
                }
            }
        }
    }
}