.lowerBadge-29hYVK{
    bottom: -5px;
    right: -5px;
    .numberBadge-2s8kKX{
        border-radius: var(--primary-rounding);
    }
}
.upperBadge-2XnnGB{
    right: -5px;
    top: -5px;
    .baseShapeRound-1Mm1YW{
        border-radius: var(--primary-rounding);
    }
}
