.wrapper-25eVIn{
    foreignObject{
        border-radius: var(--primary-rounding);
        mask: none;
        .folderIconWrapper-1_bOZe{
            border-radius: 0 !important;
            .iconInactive-98JN5i{
                border-radius: var(--primary-rounding);
            }
        }
        .childWrapper-anI2G9{
            background-color: var(--background-secondary);
        }
        .circleButtonBase-2DCxIZ{
            color:var(--text-normal);
            &:hover{
                background-color: var(--background-tertiary);
            }
        }
        .wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9, .wrapper-1BJsBx:hover .childWrapper-anI2G9{
            background-color: var(--background-secondary);
        }
    }
}
.wrapperSimple-19ogV2{
    border-radius: var(--primary-rounding);
}