.newMessagesBar-265mhP{
    background-color: var(--background-tertiary);
    border-radius: var(--primary-rounding);
    top: var(--primary-spacing);
    box-shadow: none;
    padding: 4px;
    right: 10px;
    left: 10px;
}
.jumpToPresentBar-G1R9s6{
    background-color: var(--background-tertiary);
    border-radius: var(--primary-rounding);
    bottom: var(--secondary-spacing);
    right: var(--primary-spacing);
    left: var(--primary-spacing);
    height: fit-content;
    padding: 5px;
    opacity: 1;
}