.wrapper-2qzCYF.minimum-28Z35l{
    background-color: var(--background-primary);
    border-radius: var(--primary-rounding);
    .callAvatarMask-1SLlRi foreignObject{
        mask: none;
        .voiceAvatar-14IynY{
            border-radius: var(--primary-rounding);
        }
        .status-1WEaea{
            border-radius: var(--primary-rounding);
            bottom: -15px;
            right: -15px;
        }
    }
    .centerButton-3CaNcJ{
        background-color: var(--background-tertiary);
        border-radius: var(--primary-rounding);
    }
    .contextMenuNub-3yOOYo.colorable-1bkp8v.primaryDark-3mSFDl{
        background-color: var(--background-secondary-alt);
        border-radius: var(--primary-rounding);
        bottom: -10px;
        right: -10px;
    }
    .border-Jn5IOt{
        border-radius: var(--primary-rounding);
    }
}
.contextMenuContainer-2HlOMK{
    svg{
        foreignObject{
            mask: none;
        }
    }
}
.centerButton-3CaNcJ{
    background-color: #1B1F38 !important;
    border-radius: var(--primary-rounding);
}
.wrapper-2qzCYF{
    background-color: #25294A;
    .tile-2naSqK{
        border-radius: var(--primary-rounding);
    }
    .gradientContainer-10lXLB{
        background: linear-gradient(180deg, #25294A, transparent 60%);
    }
}

.videoGrid-1khsrF{
    background-color: transparent !important;
}
.elevationHigh-3A9Xbf{
    background-color: var(--background-secondary);
    border-radius: var(--primary-rounding);
}