.form-2fGMdU{
    padding: 0 var(--primary-spacing);
}
.channelTextArea-rNsIhG{
    background-color: var(--channeltextarea-background);
    border-radius: var(--primary-rounding);
    margin-bottom: var(--primary-spacing);
}
.base-gE7OpD{
    background-color: var(--channeltextarea-background);
    border-radius: var(--primary-rounding);
    margin-bottom: var(--primary-spacing);
    position: relative;
    padding: 4px;
    left: 0;
}
.wrapper-39oAo3{
    margin-bottom: var(--primary-spacing);
}