.chat-3bRxxu {
  margin: var(--primary-spacing);
  border-radius: var(--primary-rounding);
  background-color: transparent;
  margin-top: 0 !important;
  .content-yTz4x3 {
    margin-top: var(--primary-spacing);
    .chatContent-a9vAAp {
      background-color: var(--background-primary);
      border-radius: var(--primary-rounding);
      .scroller-2LSbBU {
        border-radius: var(--primary-rounding);
        .cozy-3raOZG.wrapper-2a6GCs {
          border-radius: var(--primary-rounding);
          margin-left: var(--primary-spacing);
          margin-right: var(--primary-spacing);
        }
      }
      .channelTextArea-3bF57p {
        .scrollableContainer-2NUZem {
          background-color: var(--background-tertiary);
          border-radius: var(--primary-rounding) !important;
        }
      }
    }
    .scroller-11cdZM {
      background-color: var(--background-primary);
      border-radius: var(--primary-rounding);
    }
    &::before {
      display: none;
    }
  }
}
.mentioned-xhSam7:before,
.replying-1x3H0T:before {
    border-radius: var(--primary-rounding);
    margin: var(--primary-spacing);
    position: absolute;
    left: unset;
    width: 4px;
    right: 0;
}
