.membersWrap-2h-GB4{
    background-color: var(--background-primary);
    border-radius: var(--primary-rounding);
    margin-left: var(--primary-spacing);
    .members-1998pB, .members-1998pB>div{
        background-color: transparent;
        .layout-2DM8Md{
            &:hover{
                background-color: var(--background-secondary);
            }
        }
    }
    ::-webkit-scrollbar{
        display: none;
    }
}