.container-1r6BKw.themed-ANHk51{
    background-color: var(--background-primary);
    border-radius: var(--primary-rounding);
    height: 50px;
    padding: 0;
}
[href="https://support.discord.com"]{
    display: none;
}
.arrow{
    path{
        fill: var(--interactive-normal);
    }
    &:hover path{
        fill: var(--interactive-hover);
    }
}
.nebula-arrow.active{
    transform: rotateZ(180deg);
    path{
        fill: var(--interactive-active);
    }
}
.nebula-arrow{
    transition: 500ms ease all;
}