.standardSidebarView-3F1I7i{
    background-color: var(--background-tertiary);
    .contentRegion-3nDuYy{
        background-color: var(--background-primary);
        border-radius: var(--primary-rounding);
        margin: var(--primary-spacing);
        margin-left: 0 !important;
        margin-top: 0 !important;
        .contentRegionScroller-26nc1e{
            background-color: transparent;
            justify-content: center;
        }
    }
}