.platform-linux{
    // Chat
    .base-3dtUhz{
        margin-top: var(--primary-spacing) !important;
    }
    // Guild
    .guilds-1SWlCJ{
        top: calc(var(--secondary-spacing) + var(--server-container)) !important;
    }
    // Settings
    .sidebarRegion-VFTUkN,
    .contentRegion-3nDuYy{
        margin-top: var(--primary-spacing) !important;
    }
}