.platform-osx {
  // titlebar
  .typeMacOS-3EmCyP {
    height: 32px;
    .macButtons-2MuSAC {
      margin-left: var(--primary-spacing);
      padding-top: calc(var(--primary-spacing) + 7px);
      .macButton-c_Adir {
        margin-right: calc(var(--primary-spacing) / 2);
        border-radius: calc(var(--primary-rounding) / 2);
        &:nth-child(1) {
          background-color: #fc615d !important;
        }
        &:nth-child(2) {
          background-color: #fdbc40 !important;
        }
        &:nth-child(3) {
          background-color: #34c749 !important;
          margin-right: var(--primary-spacing);
        }
      }
      &::after {
        content: "Nebula OSX";
        color: var(--text-muted);
        white-space: nowrap;
        font-weight: 700;
      }
    }
  }

  // Sidebar
  .privateChannels-1nO12o,
  .container-3w7J-x {
    padding-top: calc(var(--tertiary-spacing) * 2);
  }

  // Settings
  .sidebarRegion-VFTUkN {
    margin-top: var(--primary-spacing) !important;
    .sidebarRegionScroller-3MXcoP {
      margin-top: calc(var(--secondary-spacing) + 0px);
    }
  }
  .contentRegion-3nDuYy{
      margin-top: var(--primary-spacing) !important;
  }
}
