.container-1taM1r{
    border-radius: 0 0 var(--primary-rounding) var(--primary-rounding);
    background-color: var(--background-secondary-alt);
    margin-top: calc(var(--tertiary-spacing) * 1.5);
    .header-2V-4Sw{
        border-radius: var(--primary-rounding) var(--primary-rounding) 0 0;
        margin-bottom: calc(var(--tertiary-spacing) * 1.6) !important;
        background-color: var(--background-primary);
        margin: var(--primary-spacing);
        box-shadow: none !important;
        margin-top: 0 !important;
        filter: none !important;
    }
}