.sidebar-2K8pFh{
    border-radius: var(--primary-rounding) !important;
    margin: var(--primary-spacing);
    width: var(--sidebar-width);
    margin-right: 0 !important;
    background: transparent;
}