.root-1gCeng{
    background-color: var(--background-primary) !important;
    border-radius: var(--primary-rounding);
    box-shadow: none !important;
    .footer-2gL1pp{
        background-color: var(--background-secondary-alt);
        border-radius: var(--primary-rounding);
        margin: var(--primary-spacing);
        box-shadow: none;
    }
}