.root-3QyAh1{
    background-color: transparent !important;
    border-radius: var(--primary-rounding);
    box-shadow: none;
    .topSection-y3p-_D{
        background-color: transparent;
        border-radius: var(--primary-rounding);
        header{
            background-color: var(--background-primary);
            border-radius: var(--primary-rounding);
            padding:var(--primary-spacing) 0;
            .banner-2QYc2d{
                border-radius: var(--primary-rounding);
                margin: var(--primary-spacing);
                width: calc(100% - 20px);
                margin-top: 0 !important;
                height: 150px;
            }
            .header-4zuFdR{
                .avatar-AvHqJA{
                    background-color: var(--background-tertiary);
                    border-radius: var(--primary-rounding);
                    left: var(--primary-spacing);
                    position: relative;
                    border: none;
                    top: 0;
                    svg{
                        foreignObject{
                            mask: none;
                            img{
                                border-radius: var(--primary-rounding);
                            }
                        }
                    }
                    .pointerEvents-2zdfdO{
                        pointer-events: none;
                        mask: none;
                        ry: 6;
                    }
                }
                .headerTop-547GTz{
                    flex-direction: column-reverse;
                    right: var(--primary-spacing);
                    align-items: flex-end;
                    top: 0;
                    .badgeList-1R1WgZ{
                        padding-top: var(--primary-spacing) !important;
                        padding: 0;
                    }
                }
            }
            .nameTag-ECvD8P{
                margin-left: calc(var(--tertiary-spacing) * 3.5) !important;
                top: calc(var(--tertiary-spacing) * 4.15);
                position: absolute;
                margin: 0;
            }
            .customStatusActivity-nmH3DF{
                margin-left: calc(var(--tertiary-spacing) * 3.5) !important;
                top: calc(var(--tertiary-spacing) * 4.8);
                max-width: 250px;
                position: absolute;
                padding: 0;
            }
        }
        .tabBarContainer-37hZsr{
            border-radius: var(--primary-rounding) var(--primary-rounding) 0 0;
            background-color: var(--background-primary);
            margin-top: var(--primary-spacing);
            padding-top: var(--primary-spacing) !important;
            border: none;
            padding: 0;
            .tabBar-3nvOPa{
                background-color: var(--background-secondary-alt);
                border-radius: var(--primary-rounding);
                margin: 0 var(--primary-spacing);
                justify-content: center;
                .tabBarItem-3dfX8P{
                    border-radius: var(--primary-rounding);
                    margin: var(--primary-spacing);
                    justify-content: center;
                    border: none;
                    width: 100px;
                    &:hover:not(.selected-3s45Ha){
                        background-color: var(--background-secondary);
                    }
                }
                .selected-3s45Ha{
                    background-color: var(--background-tertiary);
                }
            }
        }
    }
    .body-r6_QPy{
        background-color: var(--background-primary);
        .listRow-1iDGel{
            padding-left: 6px !important;
            &:hover{
                background-color: var(--background-secondary);
            }
        }
        .pc-connections .connectedAccounts-QlRa4m:empty::before{
            display: none;
        }
    }
}