.root-1gCeng{
    background-color: var(--background-primary) !important;
    border-radius: var(--primary-rounding);
    box-shadow: none !important;
}
.colorPickerCustom-2CWBn2{
    background-color: var(--background-secondary) !important;
    border-radius: var(--primary-rounding);
    box-shadow: var(--elevation-high);
    border: none;
}