.footer-2gL1pp{
    background-color: var(--background-secondary) !important;
    border-radius: var(--primary-rounding);
    margin: var(--primary-spacing);
    box-shadow: none !important;
    margin-top: 0 !important;
}