.uploadModal-2ifh8j{
    background-color: var(--background-primary) !important;
    border-radius: var(--primary-rounding);
    box-shadow: none !important;
    .icon-kyxXVr.image-2yrs5j{
        border-radius: var(--primary-rounding) !important;
    }
    .channelTextArea-2VhZ6z{
        border-radius: var(--primary-rounding);
        .scrollableContainer-2NUZem{
            background-color: var(--background-tertiary);
            border-radius: var(--primary-rounding);
        }
    }
    .footer-3mqk7D {
        background-color: var(--background-tertiary);
        border-radius: var(--primary-rounding);
        margin: var(--primary-spacing);
    }
}