.root-3QyAh1{
    background-color: transparent !important;
    .topSection-y3p-_D{
        background-color: var(--background-primary);
        border-radius: var(--primary-rounding);
        margin-bottom: var(--primary-spacing);
        header{
            margin-bottom: var(--primary-spacing);
            .banner-2QYc2d{
                margin: var(--primary-spacing) 0 0 var(--primary-spacing);
                background-color: var(--background-tertiary) !important;
                width: calc(100% - var(--secondary-spacing));
                border-radius: var(--primary-rounding);
                height: 160px;
            }
            .profileBannerPremium-35utuo{
                filter: brightness(.3);
            }
            .header-4zuFdR{
                left: var(--secondary-spacing);
                top: var(--secondary-spacing);
                align-items: flex-end;
                flex-direction: row;
                position: absolute;
                display: flex;
                width: calc(100% - var(--tertiary-spacing));
                .avatar-AvHqJA{
                    background-color: var(--background-secondary);
                    border-radius: var(--primary-rounding);
                    margin-right: var(--primary-spacing);
                    height: 140px !important;
                    width: 140px !important;
                    position: relative;
                    border: none;
                    left: 0;
                    top: 0;
                    svg{
                        foreignObject{
                            mask: none;
                            .avatar-VxgULZ{
                                border-radius: var(--primary-rounding);
                            }
                        }
                        .pointerEvents-2zdfdO{
                            ry: var(--primary-rounding);
                            height: 24px !important;
                            width: 24px !important;
                            mask: none;
                        }
                    }
                }
                .headerTop-547GTz{
                    flex-direction: column-reverse;
                    justify-self: flex-end;
                    position: absolute;
                    height: 100%;
                    right: 0;
                    left: 0;
                    top: 0;
                    .badgeList-1R1WgZ,
                    .relationshipButtons-pUQVkf{
                        align-self: flex-end;
                    }
                }
            }
            .nameTag-ECvD8P{
                margin: var(--secondary-spacing) 0 0 calc(var(--secondary-spacing) + 150px);
                position: absolute;
                max-width:  226px;
                top: 0;
            }
            .customStatusActivity-nmH3DF{
                margin: calc(var(--tertiary-spacing) + var(--primary-spacing)) 0 0 calc(var(--primary-spacing) + 150px);
                padding: var(--primary-spacing);
                position: absolute;
                top: 0;
                .customStatus-1COQYu{
                    color: var(--text-normal);
                }
            }
        }
        .tabBarContainer-37hZsr{
            border: none;
            padding: 0;
            .tabBar-3nvOPa{
                background-color: var(--background-secondary);
                border-radius: var(--primary-rounding);
                margin: var(--primary-spacing);
                justify-content: center;
                .tabBarItem-3dfX8P{
                    border-radius: var(--primary-rounding);
                    margin: var(--primary-spacing);
                    justify-content: center;
                    padding: 5px;
                    border: none;
                    width: 100px;
                    &:hover:not([aria-selected="true"]){
                        background-color: var(--background-tertiary);
                    }
                }
                [aria-selected="true"]{
                    background-color: var(--background-secondary-alt);
                }
            }
        }
    }
    .noTabBar-3ZjPNR{
        border: none;
    }
    .body-r6_QPy{
        background-color: var(--background-primary);
        border-radius: var(--primary-rounding);
        .infoScroller-1Qu30O{
            padding: 0 var(--primary-spacing) !important;
            .userInfoSection-q_35fn{
                &:first-child{
                    border-radius: var(--primary-rounding) var(--primary-rounding) 0 0;
                    background-color: var(--background-secondary);
                    margin-top: var(--primary-spacing);
                    padding: var(--secondary-spacing);
                    .uppercase-3VWUQ9{
                        display: none;
                    }
                    .note-367eZJ{
                        display: none;
                    }
                }
                &:nth-child(2){
                    border-radius: 0 0 var(--primary-rounding) var(--primary-rounding);
                    background-color: var(--background-secondary);
                    margin-bottom: var(--primary-spacing);
                    padding: var(--primary-spacing);
                    border: none;
                    .connectedAccounts-QlRa4m{
                        background-color: var(--background-secondary-alt);
                        border-radius: var(--primary-rounding);
                        padding: var(--primary-spacing);
                        .connectedAccount-2Jb-Z0{
                            background-color: var(--background-primary);
                            border: none;
                        }
                    }
                }
            }
            .pc-connections .connectedAccounts-QlRa4m:empty::before{
                display: none;
            }        
        }
        ::-webkit-scrollbar{
            display: none;
        }
    }
}