.popout-103y-5{
    background-color: var(--background-secondary-alt) !important;
    border-radius: var(--primary-rounding);
    box-shadow: none !important;
    .header-1TKi98{
        background-color: var(--background-secondary);
        border-radius: var(--primary-rounding);
        margin: var(--primary-spacing);
    }
    .friendWrapper-2SrUFF[aria-selected="true"]{
        background-color: var(--background-secondary);
        border-radius: var(--primary-rounding);
        .friendSelected-1sa4bG{
            background-color: transparent;
        }
    }
    .footer-1eyGBa{
        background-color: var(--background-secondary) !important;
        border-radius: var(--primary-rounding);
        margin: var(--primary-spacing);
        button:hover{
            background-color: var(--background-primary) !important;
        }
    }
}