.autocomplete-OOX59Q,
.autocomplete-1vrmpx{
    background-color: var(--background-secondary) !important;
    border-radius: var(--primary-rounding);
    box-shadow: none;
    .selected-1Tbx07{
        background-color: var(--background-secondary-alt);
    }
    ::-webkit-scrollbar{
        display: none;
    }
}
.wrapper-1-Fsb8.categoryHeader-O1zU94 {
    background-color: var(--background-secondary-alt) !important;
    border-radius: var(--primary-rounding);
    margin-bottom: var(--primary-spacing);
}
