.autocomplete-OOX59Q{
    background-color: var(--background-secondary) !important;
    border-radius: var(--primary-rounding);
    box-shadow: none;
    .selected-1Tbx07{
        background-color: var(--background-secondary-alt);
    }
}
.autocomplete-1vrmpx{
    background-color: var(--background-secondary) !important;
    border-radius: var(--primary-rounding);
    box-shadow: none;
}