@keyframes Drawer{
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}

.menu-3sdvDG{
    background: var(--background-secondary-alt);
    border-radius: var(--primary-rounding);
    box-shadow: none;
    .button-F9qN4n{
        border-radius: var(--primary-rounding);
        &:hover{
            background-color: var(--background-secondary);
        }
    }
    .colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O){
        background-color: var(--background-tertiary);
    }
    .focused-3afm-j{
        background-color: var(--background-secondary);
    }
}
[style="position: absolute; left: 30px; top: 158px;"]{
    left: var(--primary-spacing) !important;
    top: calc(var(--tertiary-spacing) * 4.27) !important;
}
.full-motion .scale-3iLZhb.didRender-33z1u8{
    .styleFixed-sX-yHV{
        width: var(--sidebar-width);
    }
}
