.searchResultsWrap-3-pOjs{
    background-color: var(--background-primary);
    border-radius: var(--primary-rounding);
    margin-left: var(--primary-spacing);
    .searchHeader-2XoQg7{
        background-color: var(--background-secondary);
        border-radius: var(--primary-rounding);
        margin: var(--primary-spacing);
        .tab-2j5AEF.selected-2LAck8{
            background-color: var(--background-secondary-alt);
            border-radius: var(--primary-rounding);
        }
    }
    .searchResultGroup-1DphGG{
        margin: 0;
    }
    .scroller-3GIiMh{
        background-color: var(--background-secondary);
        padding: var(--primary-spacing) !important;
        border-radius: var(--primary-rounding);
        margin: var(--primary-spacing);
        margin-top: 0 !important;
        .searchResult-9tQ1uo{
            background-color: var(--background-secondary-alt);
            border-radius: var(--primary-rounding);
            .avatar-1BDn8e{
                border-radius: var(--primary-rounding);
            }
        }
        .container-NdaZbY{
            background-color: var(--background-secondary-alt);
            border-radius: var(--primary-rounding);
            .pageControlContainer-eP-SVd{
                margin: 0 !important;
                .endButton-m5h5Sr{
                    background-color: var(--background-secondary);
                }
                .roundButton-CEHyUp{
                    background-color: var(--background-secondary);
                    border-radius: var(--primary-rounding);
                }
            }
        }
    }
    ::-webkit-scrollbar{
        display: none;
    }
}