.userPopout-xaxa6l{
    background-color: var(--background-secondary-alt);
    border-radius: var(--primary-rounding);
    .headerNormal-3KXFBt{ 
        margin: var(--primary-spacing);
        margin-bottom: 0 !important;
        .banner-2QYc2d{
            background-color: var(--background-secondary) !important;
            border-radius: var(--primary-rounding);
            height: 120px;
            width: 100%
        }
        .bannerPremium-2hSAwz{
            filter: brightness(.3);
        }
    }
    .avatarWrapper-3r9PdD{
        left: var(--secondary-spacing);
        top: var(--secondary-spacing);
        .avatar-37jOim{
            background-color: transparent;
            border-radius: var(--primary-rounding);
            height: 99px !important;
            width: 90px !important;
            border: none;
            .mask-1l8v16{
                foreignObject{
                    mask: none;
                    .avatar-VxgULZ{
                        background-color: var(--background-primary);
                        border-radius: var(--primary-rounding);
                    }
                }
                .pointerEvents-2zdfdO{
                    ry: var(--primary-rounding);
                    height: 16px !important;
                    width: 16px !important;
                    mask: none;
                }
            }
        }
        .avatarHint-2A3RNb{
            border-radius: var(--primary-rounding);
            height: 99px;
            width: 99px;
            left: 0;
            top: 0;
            foreignObject{
                mask: none;
            }
        }
    }
    .headerTop-3vNv-a{
        padding: var(--secondary-spacing) 0 0 0;
        right: var(--primary-spacing);
        position: absolute;
        height: 100px;
        width: 171px;
        .profileBadges-ohc0Vu{
            right: var(--primary-spacing);
            top: unset;
            bottom: 0;
        }
        .headerText-1vVs-U{
            padding-left: var(--primary-spacing);
        }
    }
    .body-3HBlXn{
        background-color: var(--background-secondary);
        border-radius: var(--primary-rounding);
        margin: var(--primary-spacing);
        max-height: 400px;
        padding: 10px;
        .bodyInnerWrapper-26fQXj{
            background-color: var(--background-tertiary);
            border-radius: var(--primary-rounding);
            padding: 6px;
        }
    }
    .footer-3UKYOU{
        background-color: var(--background-secondary);
        border-radius: var(--primary-rounding);
        margin: var(--primary-spacing);
        margin-top: 0 !important;
        padding: 16px;
    }
}