.scroller-1IIF0A{
    background-color: var(--background-secondary-alt);
    border-radius: var(--primary-rounding);
    margin: var(--primary-spacing);
    overflow: hidden !important;
    .header-39GIC8{
        border-radius: var(--primary-rounding);
        margin: var(--primary-spacing);
        width: calc(100% - 20px);
        padding: 10px;
    }
}
.scroller-2XE8rp{
    background-color: var(--background-secondary-alt);
    border-radius: var(--primary-rounding);
    margin: var(--primary-spacing);
}