.applicationStore-1pNvnv{
    background-color: var(--background-primary);
    .scroller-9moviB{
        background-color: var(--background-secondary-alt);
        border-radius: var(--primary-rounding);
        margin: var(--primary-spacing);
    }
}