.perksModal-fSYqOq{
    background-color: var(--background-tertiary) !important;
    margin-top: 31px;
    .tier-12tKuZ{
        background-color: var(--background-primary);
        border-radius: var(--primary-rounding);
        .tierHeader---JJFb{
            background-color: var(--background-secondary);
            border-radius: var(--primary-rounding);
            margin: var(--primary-spacing);
        }
        .tierBody-16Chc9{
            background-color: transparent !important; 
        }
    }
    .tierMarkerSelectable-3t7r2q:not(.tierMarkerAccomplished-2MiXeg){
        background-color: var(--background-tertiary) !important;
    }
    .tierMarkerBackground-3q29am{
        background-color: var(--background-secondary-alt) !important;
    }
    .perk-2WeBWW{
        background-color: var(--background-primary) !important;
        border-radius: var(--primary-rounding);
    }
    .barBackground-2EEiLw{
        background-color: var(--background-primary) !important;
    }
}
.container-1sFeqf{
    top: 50px;
}