.pageWrapper-1PgVDX{
    background-color: var(--background-primary) !important;
    border-radius: var(--primary-rounding);
    margin-bottom: var(--primary-spacing);
    margin-right: var(--primary-spacing);
    .headerImage-3X1tyY{
        border-radius: var(--primary-rounding);
    }
}
