.container-1D34oG{
    background-color: transparent !important;
    margin: var(--primary-spacing);
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    .topPill-30KHOu{
        [aria-selected="true"]{
            background-color: var(--background-secondary-alt) !important;
            border-radius: var(--primary-rounding);
        }
    }
    .tabBody-3YRQ8W{
        background-color: transparent;
        border-radius: var(--primary-rounding);
        margin: var(--primary-spacing) 0;
        .peopleColumn-29fq28{
            background-color: var(--background-primary);
            border-radius: var(--primary-rounding);
            margin-right: var(--primary-spacing);
            .wrapper-1cBijl{
                border-radius: var(--primary-rounding);
            }
        }
        .nowPlayingColumn-2sl4cE{
            border-radius: var(--primary-rounding);
            background: var(--background-primary);
            .container-lRFx4q{
                background-color: transparent;
                .scroller-2ZPeAD{
                    padding-right: var(--primary-spacing) !important;
                    padding: var(--primary-spacing);
                    border: none;
                    margin: 0;
                    .itemCard-v9viV7{
                        border-radius: var(--primary-rounding);
                        border: none;
                        .body-1ld4H7{
                            background-color: var(--background-tertiary);
                            border-radius: var(--primary-rounding);
                            .section-2gLsgF{
                                background-color: transparent;
                                .applicationStreamingPreviewWrapper-8QqvVY{
                                    border-radius: var(--primary-rounding);
                                }
                            }
                            .separator-XqIyoz{
                                display: none;
                            }
                        }
                    }
                }
            }
            ::-webkit-scrollbar{
                display: none;
            }
        }
        &::before{
            display: none;
        }
    }
}
.outer-1AjyKL.active-1xchHY,
.outer-1AjyKL.interactive-3B9GmY:hover{
    background-color: var(--background-secondary) !important;
    border: none !important;
}
