.container-3Mxszk{
    margin: var(--primary-spacing);
    margin-top: 0 !important;
    border-radius: var(--primary-rounding);
    .libraryHeader-3g95kE{
        .selected-3s45Ha{
            background-color: var(--background-secondary) !important;
            border-radius: var(--primary-rounding);
        }
        &::before{
            display: none;
        }
    }
    .scroller-1IIF0A,
    .scroller-2XE8rp{
        border-radius: var(--primary-rounding);
        margin-top: var(--primary-spacing);
    }
}