.applicationStore-1pNvnv{
    margin: var(--primary-spacing);
    margin-top: 0 !important;
    background-color: transparent;
    .container-1r6BKw.themed-ANHk51{
        margin-bottom: var(--primary-spacing);
    }
    .scroller-9moviB{
        border-radius: var(--primary-rounding);
    }
}
