.container-1a3EgQ{
    margin: var(--primary-spacing);
    margin-top: 0 !important;
}
.headerBarContainer-31FKNA{
    box-shadow: none;
}
.pageContent-1xgXch{
    margin-top: var(--primary-spacing);
    background-color: transparent;
    .stageSection-3mAD8V{
        background-color: var(--background-primary);
        border-radius: var(--primary-rounding);
        margin-right: var(--primary-spacing);
        .container-S9SaVf{
            border-radius: var(--primary-rounding);
            border: none;
        }
    }
    .nowPlayingSidebar-2OFn0o{
        background-color: var(--background-primary);
        border-radius: var(--primary-rounding);
        .container-lRFx4q{
            background-color: transparent;
            .scroller-2ZPeAD{
                padding-right: var(--primary-spacing) !important;
                padding: var(--primary-spacing) !important;
                border: none;
                margin: 0;
                .wrapper-3D2qGf{
                    border-radius: var(--primary-rounding);
                    border: none;
                }
            }
        }
    }
}