.app-1q1i1E{
    background-color: var(--background-primary);
    border-radius: var(--primary-rounding);
    margin: var(--primary-spacing);
    .app-2rEoOp{
        background-color: transparent;
        .base-3dtUhz{
            background-color: var(--background-primary);
            border-radius: var(--primary-rounding);
            flex-direction: column-reverse;
        }
        .layers-3q14ss{
            border-radius: var(--primary-rounding);
        }
    }
}