.lookFilled-1Gx00P,
.lookOutlined-3sRXeN{
    border-radius: var(--primary-rounding) !important;
}

.lookFilled-1Gx00P.colorGrey-2DXtkV,
.lookFilled-1Gx00P.colorBrand-3pXr91 {
    background-color: var(--btn-bg-primary) !important;
    &:hover{
        background-color: var(--btn-bg-secondary-hover) !important;
    }
}