.input-cIJ7To{
    background-color: var(--background-secondary) !important;
    border-color: var(--background-secondary-alt) !important;
    border-radius: var(--primary-rounding);
    &:hover{
        border-color: var(--background-tertiary) !important;
    }
    &:focus-within{
        border-color: var(--background-primary) !important;
    }
}