.input-cIJ7To{
    border-radius: var(--primary-rounding) !important;
    border-color: var(--background-secondary-alt);
    &:hover:not(:focus-within){
        border-color: var(--background-tertiary);
    }
    &:focus-within{
        border-color: var(--background-primary);
    }
}
.radioIconForeground-XwlXQN{
    color : var(--interactive-active);
}
.bar-2Qqk5Z{
    background-color: var(--background-tertiary) !important;
    .barFill-23-gu-{
        background-color: var(--background-primary);
    }
}