.base-3dtUhz{
    flex-direction: column-reverse;
    .container-3O_wAf{
        border-radius: var(--primary-rounding);
        margin: var(--primary-spacing);
        margin-bottom: 0 !important;
    }
    .channelNotice-1-XFjC{
        background-color: var(--background-secondary-alt) !important;
        border-radius: var(--primary-rounding);
        margin: var(--primary-spacing);
        margin-bottom: 0 !important;
        box-shadow: none;
    }
    .notice-3bPHh-{
        background-color: var(--background-primary);
        border-radius: var(--primary-rounding);
        margin: var(--primary-spacing);
        box-shadow: none !important;
        margin-top: 0 !important;
        position: relative;
        font-size: 16px;
        padding: 5px;
        .closeButton-3cJIM4{
            background-position: 50% 50%;
            height: 100%;
        }
        .button-2DhvE9{
            background-color: var(--button-background-primary);
            border-radius: var(--primary-rounding);
            border: none;
            &:hover{
                background-color: var(--button-background-hover-primary);
            }
        }
    }    
}
