.tooltipPrimary-1d1ph4 {
    background-color: var(--background-secondary) !important;
    border-radius: var(--primary-rounding);
    .tooltipPointer-3ZfirK{
        border-top-color: var(--background-secondary) !important;
    }
}
.popoutContainer-1MXdqN{
    background-color: var(--background-secondary);
}