.menu-3sdvDG{
    background-color: var(--background-secondary);
    border-radius: var(--primary-rounding);
    .button-F9qN4n{
        border-radius: var(--primary-rounding);
    }
    .colorDefault-2K3EoJ.focused-3afm-j:not(.colorDanger-2qLCe1){
        background-color: var(--background-secondary-alt) !important;
    }
}