.tooltipPrimary-1d1ph4{
    background-color: var(--background-secondary) !important;
    border-radius: var(--primary-rounding);
    z-index: 3001;
    .tooltipPointer-3ZfirK{
        border-top-color: var(--background-secondary) !important;
    }
}