// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Root Variables           ║ Values that can be used globally so I dont have to copy and paste the same value.       ║
// ╠══════════════════════════╬═════════════════════════════════════════════════════════════════════════════════════════╣
// ║ Color Variables          ║ Color variables in HEX format will be here.                                             ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝
.theme-dark,
.theme-light {
    --background-primary: #25294a;
    --background-secondary: #202442;
    --background-secondary-alt: #2D325A;
    --background-tertiary: #1B1F38;

    --button-background-primary: #3b4175;
    --button-background-secondary: #1e2449; 
    --button-background-hover-primary: #242a5a;
    --button-background-hover-secondary: #2e3250;

    --interactive-normal: #d8dee9;
    --interactive-active: #fff;
    --interactive-hover: #bbc0ca;

    --scrollbar-auto-thumb: var(--background-secondary-alt);
    --scrollbar-thin-thumb: var(--background-secondary-alt);
    --scrollbar-auto-track: var(--background-secondary);

    --background-modifier-selected: var(--background-secondary-alt);
    --background-modifier-hover: var(--background-secondary);
    --background-modifier-active: var(--background-tertiary);

    --channeltextarea-background: var(--background-tertiary);
    --focus-primary: #fff;

    --header-primary: var(--text-normal);
    --header-secondary: var(--text-muted);
    --text-normal: #d8dee9;

}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Cosmetic Variables       ║ Variables that change the appearance of elements aside from colors                      ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝
:root{
    --primary-rounding: 5px;
    --secondary-rounding: calc(var(--secondary-rounding) * 2);
    --tertiary-rounding: calc(var(--secondary-rounding) * 2);

    --primary-spacing: 10px;
    --secondary-spacing: calc(var(--primary-spacing) * 2);
    --tertiary-spacing: calc(var(--secondary-spacing) * 2);

    --server-size: var(--HSL-server-icon-size, var(--HSL-size, 40px));
    --server-spacing: var(--HSL-server-spacing, var(--HSL-spacing, 10px));
    --server-container: calc(var(--server-size) + 20px);

    --sidebar-width: 280px;
    --sidebar-content-width-1: 260px;
    --sidebar-content-width-2: 240px;
}
