.channelNotice-1-XFjC{
    display: none;
}
.notice-3bPHh-{
    border-radius: var(--primary-rounding);
    margin: var(--primary-spacing);
    margin-top: 0 !important;
    box-shadow: none;
}
.container-1d-xkt{
    top: calc(var(--tertiary-spacing) + 12px);
    border-radius: var(--primary-rounding);
    margin-bottom: var(--primary-spacing);
    padding-top: 20px !important;
}